*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200;500&display=swap');

.wrap{
    width: 100%;
}

.group-header{
    max-width: 1240px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

span{
    color: #6C63FF;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.nav-list{
    font-family: 'Montserrat', sans-serif;
    width: 305px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2%;
    z-index: 2;
}

.list{
    font-size: 1.3rem;
    color: rgb(107, 107, 107);
    cursor: pointer;
}
.list:hover{
    color: #6C63FF;
}

.circle{
    position: absolute;
    background-color: rgb(192, 189, 189);
    width: 278px;
    height: 212px;
    top: -25%;
    transform: translateY(25%);
    right: 0px;
    border-radius: 150% 49% 109% 101%;
}

.wrap-main{
    width: 100%;
}

.box-imgConnection{
    width: 50%;
    text-align: center;
}

.img-connection{
    width: 85%;
}

.box-connection{
    max-width: 1240px;
    width: 80%;
    padding: 6% 0% 6% 0%;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.box-title{
    width: 50%;
    padding: 6%;
}

.title{
    width: 75%;
    padding: 8%;
    font-size: 2.5rem;
}

.container{
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    overflow: hidden;
}

.title-main{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.box-plin{
    width: 100%;
    display: flex;
    align-items: center;
}

.box-interacao{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 8%;
}

.interacao{
    font-size: 1.5rem;
    border: 2px solid #6C63FF;
    border-radius: 9px;
    padding: 2%;
    margin: 5%;
    cursor: pointer;
    box-shadow: 0px 4px 10px -4px #6C63FF;
    font-family: 'Poppins', sans-serif;
}
.interacao:hover{
    color: white;
    background: #6C63FF;
}

.box-paragraph{
    text-align: center;
    width: 50%;
    padding: 8%;
}

.paragraph{
    width: 123%;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: gray 5px;
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    box-shadow: 0px 7px 6px 0px rgb(165, 165, 165);
}

.box-btn{
    width: 100%;
    text-align: center;
}

.btn{
    border-radius: 12px;
    border-style: none;
    background: black;
    color: #6C63FF;
    font-size: 1.3rem;
    width: 28%;
    padding: 1.5%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
}
.btn:hover{
    color: #000;
    background: #6C63FF;
}

.section-footer{
    width: 100%;
}

.box-footer{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    background: #6C63FF;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    margin-top: 150px;
}

.box-nav{
    background: tan;
    padding: 5%;
    list-style: none;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.envelope{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle{
    font-size: 2rem;
}
@media (max-width: 640px){
    html{
        font-size: 16px;
    }

    .box-logo{
        width: 100%;
        text-align: center;
        padding: 18px 0 27px;
    }

    .group-header{
        flex-direction: column;
    }

    .nav-list{
        flex-direction: column;
        height: 136px;
        width: 80%;
        align-items: center;
    }

    .list{
        font-size: 1.7rem;
    }
}